<!DOCTYPE html>
<html lang="en">
<head>
    <title>Realtime Example</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
</head>
<body>

<div class="jumbotron text-center">
    <h1>My First Realtime app</h1>
    <p>Test your app</p>
    <a href="/" target="_blank">Open other link</a>
</div>

<div class="container">
    <div class="row">
        <div class="col-sm-4">
            <h3>Socket information</h3>
            <p>Connected users: <b id="count"></b></p>
        </div>
        <div class="col-sm-4">
            <ul class="list-group">

            </ul>
            <div class="form-group">
                <label for="comment">Comment:</label>
                <textarea name="comment" id="comment" cols="30" rows="10" class="form-control"></textarea>
            </div>
        </div>
        <div class="col-sm-4">
            <div class="form-group">
                <button class="btn btn-danger">Delete all comments</button>
            </div>
        </div>
    </div>
</div>

<script type="application/javascript">
    var comment;
    if (location.protocol === 'https:') {
        comment = new WebSocket('wss://' + window.location.host + '/comment/');
    } else {
        comment = new WebSocket('ws://' + window.location.host + '/comment/');
    }

    comment.onopen = function open() {
        console.log('Connect to Socket');
    };

    comment.onmessage = function message(event) {
        var data = JSON.parse(event.data);
        console.log("Socket response => ", data);
        if (data.hasOwnProperty("connection")) {
            if (!isNaN(data.connection)) {
                $("#count").text(data.connection);
            }
        } else if (data.hasOwnProperty("comment")) {
            $(".list-group").prepend(
                `<li class="list-group-item">${data.comment}</li>`
            )
        }
        else if (data.hasOwnProperty("delete"))  {
            $(".list-group").html("");
        }
        if (data.hasOwnProperty("data")) {
            for (var i = 0; i < data.data.length; i++) {
                $(".list-group").prepend(
                    `<li class="list-group-item">${data.data[i].comment}</li>`
                )
            }
        }
    };

    if (comment.readyState === WebSocket.OPEN) {
        comment.onopen();
    }

    $("#comment").keypress(function (e) {
        var text = $(this).val();
        if (e.keyCode === 13) {
            e.preventDefault();
            $(this).val('');
            comment.send(JSON.stringify({
                "comment": text
            }))
        }
    });

    $(".btn-danger").click(function (e) {
        comment.send(JSON.stringify({
            "delete": "all"
        }))
    });


</script>

</body>
</html>
